<!DOCTYPE html>
<html ng-app="myModule">
<head>
	<title>My CarDealer Site</title>
	<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">

	<style type="text/css">
	th {padding-right: 7%;}
	td {padding-right: 7%;}
	tr {border-bottom: 2px solid grey;}

	img{width:100%;}

	</style>
</head>
<body ng-controller="myController">
	<!-- Search: <input type="text" placeholder="Find your car.." ng-model="searchText.brand"/> -->
	<!-- In the upper code I specify through which properties to search -->
	Search by Brand: <input type="text" placeholder="Find brand" ng-model="searchText.brand"/>
	Search by Model: <input type="text" placeholder="Find model" ng-model="searchText.model"/>
	 <input type="checkbox" ng-model="exactMatch"/> Exact Match
	</br>
	</br>
	Order By: <select ng-model="sortColumn">
				<option value="brand">Brand</option>
				<option value="year">Year</option>
				<option value="engine">Engine Size</option>
				<option value="mileage">Mileage</option>
				<option value="price">Price low to high</option>
				<option value="-price">Price high to low</option>
			  </select>
	
		<div class="row two">
			<div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
			Photos
			</div>
			<div class="col-lg-1 col-md-1 col-sm-1 col-xs-12">
			Brand
			</div>
			<div class="col-lg-1 col-md-1 col-sm-1 col-xs-12">
			Model
			</div>
			<div class="col-lg-1 col-md-1 col-sm-1 col-xs-12">
			Year
			</div>
			<div class="col-lg-1 col-md-1 col-sm-1 col-xs-12">
			Engine
			</div>
			<div class="col-lg-1 col-md-1 col-sm-1 col-xs-12">
			Mileage
			</div>
			<div class="col-lg-1 col-md-1 col-sm-1 col-xs-12">
			Price
			</div>
		</div><!--row two ending-->
		<div class="row three"  ng-repeat="cars in merchandise | orderBy : sortColumn | filter:searchText : exactMatch">
			<div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
			<img ng-src="{{cars.image}}" width="250px" height="150px"/>
			</div>
			<div class="col-lg-1 col-md-1 col-sm-1 col-xs-12">
			{{cars.brand}}
			</div>
			<div class="col-lg-1 col-md-1 col-sm-1 col-xs-12">
			{{cars.model}}
			</div>
			<div class="col-lg-1 col-md-1 col-sm-1 col-xs-12">
			{{cars.year}}
			</div>
			<div class="col-lg-1 col-md-1 col-sm-1 col-xs-12">
			E{{cars.engine}}
			</div>
			<div class="col-lg-1 col-md-1 col-sm-1 col-xs-12">
			{{cars.mileage | number: "2"}}
			</div>
			<div class="col-lg-1 col-md-1 col-sm-1 col-xs-12">
			{{cars.price | currency}}
			</div>
		</div>

		<!-- <table>
		<thead>
			<tr>
				<th>Photos</th>
				<th>Brand</th>
				<th>Model</th>
				<th>Year</th>
				<th>Engine</th>
				<th>Mileage</th>
				<th>Price</th>
			</tr>
		</thead> -->

		<!-- <tbody>
			Hardcoding it in the ng-repeat directive -->
			<!-- <tr ng-repeat="cars in merchandise | orderBy : 'brand' : false">
			<tr ng-repeat="cars in merchandise | orderBy : sortColumn | filter:searchText : exactMatch"> -->
			<!-- 	<td><img ng-src="{{cars.image}}" width="250px" height="150px"/></td>
				<td>{{cars.brand}}</td>
				<td>{{cars.model}}</td>
				<td>{{cars.year}}</td>
				<td>{{cars.engine}}</td>
				<td>{{cars.mileage | number: "2"}}</td>
				<td>{{cars.price | currency}}</td>
			</tr>
		</tbody>
	</table> -->


<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.9/angular.min.js"></script>
<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
<script src=scripts/script.js></script>
</body>
</html>